body {
  background-color: lightblue;
}

.App {
  height: 96vh;
  width: 98vw;
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 1em;
}

button {
  border-radius: .5rem;
}